div.v5-wrapper {
    position: relative;
}

div.v5-wrapper video {
    position: absolute;
}

div.v5-controls {
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    position: absolute;
    color: white;
    background-color: black;
    z-index: 1;
    top: 10px;
    right: 10px;
    width: 47px;
    padding: 2px;
    opacity: 0;
    margin: 0;
    -webkit-transition: 0.5s;
}

div.v5-wrapper:hover div.v5-controls {
    opacity: 0.5;
}

div.v5-controls a {
    background-color: transparent !important;
    border: none !important;
    text-decoration: none !important;
}

div.v5-wrapper div.v5-controls a.v5-download {
    display: block !important;
    width: 19px !important;
    height: 24px !important;
    background-image: url(download.png) !important;
    margin: 0 4px 0 0 !important;
    padding: 0 !important;
    float: none !important;
}

div.v5-wrapper div.v5-controls a.v5-goto {
    display: block !important;
    float: right !important;
    width: 24px !important;
    height: 24px !important;
    background-image: url(tv.png) !important;
    margin: 0 0 0 23px !important;
    padding: 0 !important;
}